.error {
    border: red 2px solid;
}

.delButton {
    margin-left: 3px;
}

.errorMessage {
    color: red;
}

.active-filter {
    background-color: aqua;
}

.allBtnClasses {
    color: red;
}

.activeBtnClasses {
    color: greenyellow;
}

.all {
    color: gold;
}

.is-done {
    opacity: 0.5;
}
